@font-face {
  font-family: "seagram";
  src: url(../Seagram tfb.ttf);
}

body{
  background-color: black;
}





.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar{
  background-color: transparent;
  border-width: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #5b5231;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 40px 35px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: seagram;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #75693e;
}





.front-page{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  opacity: 0.7;
  filter: alpha(opacity=80);
}

.people-right{
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.texture{
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%);
  top: 0px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
}

.logo{
  position: absolute;
  z-index: 7;
  top: 45%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-2{
  position: absolute;
  z-index: 7;
  top: 32%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5b5231;
}

.social-media{
  position: absolute;
  z-index: 7;
  bottom: 0; 
  left: 50%;
  transform: translate(-50%, -50%);
}

a{
  color: #5b5231;
  font-size: 20px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}

a:hover{
  color: #75693e;
}











.header{
  background-image: url(../img/texture.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  color: #5b5231;
}

.title{
  font-size: 40px;
  font-family: seagram;
  padding: 20px 0 0 0;
  letter-spacing: 1.5px;
  color: #5b5231;
}

.subtitle{
  font-size: 30px;
  font-family: seagram;
  padding: 20px 0 0 0;
  letter-spacing: 1.25px;
  color: #5b5231;
  margin-top: 60px;
}

.title::after{
  content: "";
  display: block;
  border: 1px solid #5b5231;
  width: 100px;
  margin: 30px auto;
}

#logo-top{
  margin-bottom: 5px;
  opacity: .7;
  filter: alpha(opacity=70);
}

.overlay{
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 9%, rgba(0,0,0,0.1) 23%, rgba(0,0,0,0.4) 63%, rgba(0,0,0,0.65) 96%, rgba(0,0,0,0.65) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 9%,rgba(0,0,0,0.1) 23%,rgba(0,0,0,0.4) 63%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%);
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 9%,rgba(0,0,0,0.1) 23%,rgba(0,0,0,0.4) 63%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  opacity: 0.9;
}

.contact{
  color: #4c452a;
}

.subtitle::after{
  content: "";
  display: block;
  border: 0.5px solid #5b5231;
  width: 270px;
  margin: 25px auto;
}


.social-list-element{
  margin: 15px 20px;
}

.social-list-element>a{
  font-size: 30px;
}

.contact-section{
  color: #5b5231;
}

.contact-section>h3{
  letter-spacing: 1.5px;
  color: #75693e;
  font-family: "seagram";
}

.contact-section>p>a{
  font-size: 20px;
}

p{
  font-size: 15;
  color: #5b5231;
}

.logo-smr{
  margin: 20px auto;
}













textarea {
  resize: none;
}
.form-label {
  font-size: 12px;
  color: #5e9bfc;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: #4b4223;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
  background-color: transparent;
}
.form-control:focus {
  box-shadow: none;
  border-color: #74693f;
}
.js-hide-label {
  opacity: 0;   
}
.js-unhighlight-label {
  color: #999 
}
.btn-start-order {
  background: 0 0 #000000;
    border: 1px solid #000;
    border-radius: 3px;
    color: #74693f;
    font-family: "seagram";
    font-size: 16px;
    line-height: inherit;
    margin: 20px 0;
    padding: 15px 25px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
  border-color:  #74693f;
  color: #74693f;
}

























